Xcursor.theme:  Bibata-Modern-Ice
Xcursor.size:   36

#include ".config/xrdb/onedark.theme"

*.foreground:   fg
*.background:   bg
*.cursorColor:  cc

*.color0:       c00
*.color1:       c01
*.color2:       c02
*.color3:       c03
*.color4:       c04
*.color5:       c05
*.color6:       c06
*.color7:       c08

*.color8:       c08
*.color9:       c09
*.color10:      c10
*.color11:      c11
*.color12:      c12
*.color13:      c13
*.color14:      c14
*.color15:      c15

dwm.black:      c_black
dwm.gray1:      bg
dwm.gray2:      c08
dwm.gray3:      fg
dwm.gray4:      c15
dwm.yellow:     c03
dwm.blue:       c04
dwm.magenta:    c05
dwm.cyan:       c06
dwm.orange:     c_orange
dwm.accent1:    c_accent1
dwm.accent2:    c_accent2
